body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

#container {
  border: 5px solid dodgerblue;
  padding: 5px;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

h3 {
  margin: 0 auto;
  max-width: 340px;
}

#message-container {
  background-color: dodgerblue;
  margin-bottom: 5px;
  height: 49px;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: dodgerblue;
  padding: 10px;
  grid-gap: 10px;
}

.grid-item {
  background-color: lightgrey;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover, button:hover  {
  background-color: gainsboro;
}

.button-container {
  text-align: center;
  background-color: dodgerblue;
  margin-top: 5px;
  padding: 10px;
}

button {
  margin: 5px;
  padding: 15px;
  background-color: lightgrey;
  cursor: pointer;
}

#background-style-green {
  background-color: green;
  color: white;
  margin-top: 6px;
  margin-left: 5px;
}

#background-style-red {
  background-color: red;
  color: white;
  margin-top: 6px;
  margin-left: 5px;
}

.element {
  display: inline-block;
  padding: 5px;
}
