body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* Section for main container */

#main-container {
  border: 5px solid dodgerblue;
  padding: 5px;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  cursor: default;
}

/* Section for guess history container */

#guess-history-container {
  background-color: dodgerblue;
  height: 49px;
  padding: 2px 0;
}

#guess-history-container ul {
  margin: 0px;
}

h3 {
  margin: 0 auto;
  max-width: 220px;
  height: 49px;
  background-color: rgb(211 211 211 / 25%);
}

.list-item {
  display: inline-block;
  padding: 4px;
  border: 1px solid black;
  color: white;
  margin-top: 6px;
  margin-left: 5px;
  min-width: 20.813px;
  text-align: center;
  cursor: default;
}

#list-item-green {
  background-color: green;  
}

#list-item-red {
  background-color: red;
}

/* Section for alert message container */

#alert-message-container {
  background-color: #03a9f4;
  border-top: 2px solid white;
  height: 49px;
}

#alert-message-container h4 {
 text-align: center;
 color: white;
 margin: 13px;
 cursor: default;
}

/* Section for grid container */

#grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: dodgerblue;
  padding: 10px;
  grid-gap: 10px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.grid-item {
  background-color: lightgrey;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover, #restart-button:hover  {
  background-color: gainsboro;
}

/* Section for button container */ 

#button-container {
  text-align: center;
  background-color: dodgerblue;
  padding: 10px;
}

#restart-button {
  margin: 5px;
  padding: 15px;
  background-color: lightgrey;
  cursor: pointer;
}
